
.carousel-inner img {
    width: 100%;
    max-height: 460px;
    min-height: 460px;
}

.carousel-inner{
 height: 460px;
}

#slider 
{
    
    font-family: cursive;

}
#slider a
{
    background-color:rgb(60, 4, 35,0.9);
    border: rgb(215, 23, 23);
}
#carouselExampleIndicators
{
    margin-bottom: 30px;
}
.nav-item
{
    font-size: 20px;
    border-color:rgba(1, 1, 1, 1);
    margin-right: 10px;
    border: 1px solid rgba(84, 84, 84, 0.7);
    
} 

#BarNav
{
    background-color:rgb(26, 26, 26);
}
.container-xl
{
    align-content: center;
}