
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(Novedad.css);
@import url(plataformas.css);
@import url(login.css);
@import url(registro.css);
@import url(Quiensoy.css);
@import url(Comentarios.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'PT Sans', sans-serif;
}

header
{
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    z-index: -1;
}

.contenedor{

    width: 98%;
    margin: auto;
}

h1{
    float: left;
}

header .contenedor{

    display: table;
}

section{
    width: 100%;
    margin-bottom: 25px;
}

#Bienvenidos{
    text-align: center;
    color: #fff;
    width: 80%;
    margin-left: 10%;
}


footer{
    background: rgb(24, 22, 22);
    color: #fff;
}
footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;

}

.copy{
    padding-top: 15px;
    font-size: 10;
    width: 100%;
    text-align: center;

}

.sociales {
    color: #333;
    width: 100%;
    text-align: center;
    font-size: 28px;
    padding-bottom: 25px;
}

.sociales a{
    text-decoration: none;
}


@media (min-width:1024px)
{.contenedor{
    width: 1000px;
}


}