#Novedad h3,h4{ 
    text-align: center;
    margin: 5px;
    color: #fff;
}

#Novedad .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}
#Novedad
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#Novedad article{
    margin: 15px;
}

#Novedad .card
{
    width: 400px;
    margin: 15px;

}

#Novedad img{
    width: 100%;
    max-width: 400px;
    height: 350px;

}
#VideoPrincipal
{
    width: 100%;
    max-width: 400px;
    height: 350px;

}