#Registro 
{
    
    background:rgba(0, 0, 0, 0.7);
    width: 70%;
    height: auto;
    margin-right:auto;
    margin-left:auto;
    box-shadow:7px 13px 37px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(62, 5, 50, 0.7);
    border-radius: 10px;
}


#Registro .contenedor 
{
    padding: 15px;
    width: 80%;
    height: auto;
    justify-content: center;
    
}

#Registro label,h2{
    color: aliceblue;
  
    padding: 10px;
}
#Registro .Sexo1{
    width: 100%;
  
}

#Registro .Sexo2
{
    text-align: center;
    color:rgba(255, 254, 254, 0.7);
    display:inline-block;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

#Registro .Entradas{
    color: aliceblue;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid rgba(62, 5, 50, 0.7)



}


#Registro a
{
    text-decoration: none;
    color: rgb(15, 125, 220);
 

}

#Registro #FechaNacimiento
{
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(126, 126, 126);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid rgba(62, 5, 50, 0.7)
    
}

#Registro .Botones
{
    width: 100%;
    background: rgba(62, 5, 50, 0.7);
    border: none;
    padding: 12px;
    color: white;
    font-size: 16;
    margin-bottom: 10px;
}

.Sexo1
{
    text-justify: distribute-all-lines;
}

#FinalRegistro 
{
    text-align: left;
    margin-bottom: 15px;
}



@media (max-width:720px)
{
    
    
#Registro
{
    width: 500px;
}


}