#Registro 
{
    text-align: center;
    background:rgba(0, 0, 0, 0.7);
    width: 700px;
    height: 950px;
    margin-right:auto;
    margin-left:auto;
    box-shadow:7px 13px 37px rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(62, 5, 50, 0.7)
}


#Registro .contenedor 
{
    padding: 15px;
    width: 80%;
    height: 80%;
    justify-content: center;
    
}

#Registro label,p,h2{
    color: aliceblue;
  
    padding: 10px;
}

#Registro .Sexo1
{
    color: white;
}

#Registro .Entradas{
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid rgba(62, 5, 50, 0.7)



}
#Enviar
{
    padding: 5px;
}

#Registro a
{
    text-decoration: none;
    color: rgb(15, 125, 220);
 

}

#Registro #FechaNacimiento
{
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(126, 126, 126);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px;
    border: 1px solid rgba(62, 5, 50, 0.7)
    
}

#Registro .Botones
{
    width: 100%;
    background: rgba(62, 5, 50, 0.7);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16;
}